body {
    background-image: url(/images/background.jpg);

}

.card-header, .card-footer {
    background-color: #a5d4c7;
}

.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
}

.card-body {
    background-color: #FFDB8B;
}

#collapseContainer2, #collapseContainer3 {
    display: none;
}

input {
    width: 350px;
}